body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
}

header {
    background-color: aliceblue;
    padding: 3px;
}

.logo {
    width: 175px;
    height: 150px;
}

nav {
    margin: 15px 0px;
    padding: 20px 0px;
    background-color: brown;
    text-align: center;
}

nav a {
    text-decoration: none;
    margin-right: 30px;
    color: blue;
}

.main_img {
    width: 100%;
    height: 50%;
}

h1 {
    font-size: 35px;
    color: red;
    font-weight: normal;
    text-align: center;
}

footer {
    background-color: brown;
    padding: 25px;
    margin-top: 16px;
}

footer p {
    background-color: aqua;
    padding: 10px;
}

.contacts {
    background-color: blue;
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border-radius: 15px;
    font-size: 16px;
}
